
<div class="drawer-side z-40 md:border-r md:border-base-content/10">
  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
  <aside id="page-tree" class="bg-base-200 min-h-screen w-80">
    <div class="bg-base-200 sticky top-0 z-20 items-center gap-2 bg-opacity-90 px-4 py-2 backdrop-blur lg:flex">
        <h1 class="flex items-end">
          {% assign logo = 'images/logo.png' | asset_url %}
          <a href="{{site.index_path}}" class="flex-0 btn btn-ghost px-2">
            <img src="{{ site.favicon_url | default: logo  }}" class="h-8 mr-2" alt="{{ site.name }} Logo">
            <span class="text-base text-base-content opacity-50">docs</span>
          </a>
        </h1>
    </div>

    <div class="my-2 md:my-4">
      {% render 'search_modal' %}
    </div>

    <ul class="menu px-4 py-0" data-controller="navtree" data-navtree-target="menuList">
      <turbo-frame
        src="{{ site.nav_tree_path | append: '?selected_ids=' | append: page.id }}"
        id="nav_tree"
      ></turbo-frame>
    </ul>

  </aside>
</div>
