<!doctype html>
<html lang="{{ site.language }}" class="scroll-smooth">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% meta_tags %}
    {{ 'css/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
  </head>
  <body class="" id="js-body" data-controller="theme">
      <div class="mt-20">{{ content_for_layout }}</div>
      {% render 'footer' %}
  </body>
</html>
