<!-- the custom static page example -->
<!-- code from https://tailwindui.com/components/marketing/page-examples/landing-pages -->

<main class="isolate relative">
  <!-- Hero section -->
  <div class="absolute inset-x-0 overflow-hidden -top-40 -z-10 transform-gpu blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>

  <!-- Feature section -->
  <section class="mx-auto w-full p-4 md:px-44 md:my-12">
    <div class="flex">
      <div class="w-full max-w-3xl">
        <div class="prose prose-indigo max-w-none prose-h1:font-light prose-h1:">
          <h1>Daisy Wiki 模板介绍</h1>
          <p>Daisy Wiki 模板是一个通用的文档知识库网站模板，具有多主题 UI 风格，多终端适配，以及可个性化定义网站界面。</p>
          <h3>1. 创建站点</h3>
          <p>在Baklib工作台的【市场】中找到【Daisy Wiki】模板，创建站点。站点创建好以后，模板自动内置了 TailwindCss 和 Daisy UI。</p>
          <p>模板公开下载地址：</p>
          <pre style="white-space: pre; overflow-wrap: break-word; overflow-x: auto; font-family: monospace;"><span class="text-base-200">https://gitlab.com/baklib/themes/daisy_wiki</span></pre>
          <h3>2. 构建网站页面</h3>
          <p>打开模板编辑器，将创建的静态网页放在文件夹<code>/statics</code>下，创建的动态模板网页放在文件夹<code>/templates</code>下。</p>
          <blockquote>
            <p>关于模板开发教程请参考：<a href="https://dev.baklib.cn">Baklib 开发者中心</a>.
            </p>
          </blockquote>
          <h3>3. 后台管理内容</h3>
          <p>系统已预设了针对文档知识库的模板<code>page</code>，你只需要绑定一个<code>知识库</code>，所有内容都会同步到 wiki 站点。</p>

          <div class="divider"></div>
          <h2>什么是 Daisy UI?</h2>
          <p>DaisyUI 已成为一个功能强大的组件库，可与 Tailwind CSS 无缝协作，Tailwind CSS 是一个实用程序优先的 CSS 框架，在前端开发人员中广受欢迎。 Tailwind CSS 提供低级实用程序类，使您可以轻松构建自定义设计，而无需离开 HTML。 </p>
          <h2>什么是 Baklib?</h2>
          <p class="mt-1">
            Baklib 是一个基础云平台，开箱即用，通过Baklib可以帮助你省掉购买服务器、存储、带宽，配置域名，SEO，部署和运维等一系列繁琐的基础工作；
            同时，Baklib通过模板创建了网站的基本架构，你只需要把精力放在页面设计、内容添加等创意性的工作上，而不用关心更多的技术细节。
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
